.right-rail {
  @media only screen and (max-width: 800px) {
    text-align: center;
  }
}

img[src*=googleads],
iframe[name=google_conversion_frame] {
  display: none !important;
}

.super-pixel {
  display: none;
}

.leaderboard {
  overflow-y: hidden;
  max-height: 90px;
  margin-bottom: 0.5rem;

  &.is-collapsed {
    max-height: 0;
    margin-bottom: 0;
  }
}

.header-ad-wrapper {
  width: 100%;
  background-color: #333;
  text-align: center;
}

.leaderboard-ad {
  margin: 0 auto;
  display: inline-block;
  text-align: left;
}

.dfp-ad:after {
  content: "ADVERTISEMENT";
  display: inline-block;
  color: white;
  font-size: 10px;
  line-height: 1;
  margin-top: 8px;
  margin-bottom: 8px;
  @include mq($medium-and-up) {
    margin-bottom: 16px;
  }
}

.dfp-ad:empty {
  display: none;
}
