$water-blue: #1277c4;
$denim-blue: #00518E;
/**
 * Common Breakpoints
 */
 $xsmall: 360px;
 $small: 550px;
 $medium: 768px;
 $large: 850px;
 $xlarge: 1024px;
 $xxlarge: 1200px;
 $xxxlarge: 1500px;

$font-heading: "Playfair Display";
$font-body: "Open Sans", sans-serif;

.stream-banner-card {
  border-top: none;
}
.stream-banner-card::before {
  background-color: transparent;
}

.stream-banner-station {
  border-bottom: none;
  justify-content: center;
  margin-bottom: 24px;

  @media (min-width: $medium) {
    justify-content: left;
    margin-bottom: 48px;
    padding-left: 68px;
  }
}

.stream-banner .stream-banner-dropdown.ember-power-select-dropdown {
  top: 0px;
}

.stream-banner-station > .ember-basic-dropdown > .ember-power-select-trigger {
  padding-right: 0px;
}

.stream-banner__trigger {
  flex-direction: column;
  align-items: center;

  @media (min-width: $xsmall) {
    flex-direction: row;
  }

  .stream-banner__active-stream {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 18px;
    color: #ffffff;
    font-family: $font-body;
    font-size: 12px;
    height: 36px;
    letter-spacing: 1.2px;
    line-height: 36px;
    margin-bottom: 16px;
    margin-right: 0px;
    min-width: 180px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;

    @media (min-width: $xsmall) {
      margin-bottom: 0px;
      margin-right: 10px;
    }

    .sound-animation {
      width: 32px;
    }
  }

  .more-streams-label {
    &:after {
      content: "+ More Streams";

      @media (min-width: $xsmall) {
        content: "+ Streams";
      }

      @media (min-width: $medium) {
        content: "+ More Streams";
      }
    }
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    color: #FFFFFF;
    display: flex;
    font-family: $font-body;
    font-weight: bold;
    font-size: 9.989px;
    height: 24px;
    justify-content: center;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    width: 136px;
  }
}

.sitechrome-top {
  @media only screen and (min-width: 1025px) {
    margin-bottom: 1rem;
  }
}

.sitechrome-page-content-area {
  @media (min-width: 769px) {
    margin-top: 0px;
  }
}

.main-player-section {
  margin-bottom: 0px;
}

.main-player {
  align-items: center;
  display: flex;
  flex-direction: column;

  @media (min-width: $medium) {
    align-content: center;
    display: grid;
    grid-template-columns: minmax(min-content, max-content);
    grid-auto-rows: minmax(min-content, max-content) minmax(min-content, max-content) 1fr;
    margin-bottom: 20px;
    padding-left: 68px;
  }

  .on-air-image {
    background-color: #808080;
    border-radius: 2px;
    max-height: 120px;
    max-width: 120px;
    min-height: 120px;
    min-width: 120px;
    margin-bottom: 16px;

    @media (min-width: $medium) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: span 3;
      min-height: 168px;
      min-width: 168px;
      margin: auto 24px auto 0px;
      max-height: 168px;
      max-width: 168px;
    }

    &.round {
      border-radius: 60px;
      @media (min-width: $medium) {
        border-radius: 84px;
      }
    }
  }

  .on-air-label {
    background-color: #ffffff;
    border-radius: 4px;
    color: #0064b4;
    font-family: $font-body;
    font-size: 9.44444px;
    font-weight: bold;
    letter-spacing: 0.944445px;
    margin-bottom: 8px;
    text-align: center;
    text-transform: uppercase;
    width: 82px;

    @media (min-width: $medium) {
      font-size: 12px;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: span 1;
      line-height: 16px;
      letter-spacing: 1.2px;
      width: 105px;
    }
  }

  .on-air-title {
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-size: 28.8325px;
    font-weight: bold;
    line-height: 35px;
    margin-bottom: 32px;
    text-align: center;

    @media (min-width: $medium) {
      align-self: start;
      font-size: 25.6289px;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: span 1;
      line-height: 30px;
      margin-bottom: 0px;
      text-align: left;
    }

    @media (min-width: $xlarge) {
      font-size: 32.437px;
      line-height: 36px;
    }
  }

  .listen-live-button {
    background-color: #ffffff;
    color: $water-blue;
    font-family: $font-body;
    font-weight: bold;
    height: 36px;
    letter-spacing: 1.6px;
    padding: 0px;
    text-transform: uppercase;
    width: 234px;

    @media (min-width: $medium) {
      align-self: start;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: span 1;
      margin-top: 50px;
      width: 210px;
    }

    @media (min-width: $xlarge) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: span 1;
      height: 36px;
      width: 234px;
    }

    // overrides
    &.listen-button {
      border: none;

      &:active {
        background-color: #ffffff;
      }

      &:hover {
        background-color: #ffffff;
        color: $water-blue;
      }

      &:focus {
        background-color: #ffffff;
      }

      &.blue-boss {
        @include blue-listen-spinner;
        @include blue-svg;
        background-color: #ffffff;
      }

      .icon--play {
        margin: 0;
        height: 100%;
      }
    }
  }

  .playlist-history {
    display: grid;
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: minmax(min-content, max-content);
    margin-top: 32px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;

    @media (min-width: $medium) {
      align-self: start;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: span 1;
      margin-top: 46px;
      padding-left: 0px;
      padding-right: 0px;
      width: 100%;
    }

    @media (min-width: $large) {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: span 3;
      margin-top: 0px;
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
    }

    .dot {
      background-color: #ffffff;
      border-radius: 8px;
      height: 8px;
      width: 8px;

      &.mod-large {
        border-radius: 16px;
        height: 16px;
        width: 16px;
      }
    }

    .dot {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: span 1;
    }

    .line {
      background-image: linear-gradient(#ffffff,#ffffff);
      background-position: 7px 8px;
      background-repeat: no-repeat;
      background-size: 2px calc(100% - 18px);;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: span 2;
    }

    .current-track {
      display: grid;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: span 1;
      grid-template-columns: minmax(min-content, max-content);
      grid-template-rows: minmax(min-content, max-content);

      .heading {
        font-family: $font-body;
        font-size: 12.64px;
        font-weight: bold;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: span 1;
        justify-self: start;
        letter-spacing: 1.6px;
        margin-left: 20px;
        text-transform: uppercase;
      }

      .song-metadata {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: span 1;
        justify-content: first;
        margin-left: 20px;
        padding-bottom: 8px;
        padding-top: 8px;
        text-align: left;

        .composer {
          font-family: $font-body;
          font-size: 18px;
          font-weight: bold;
          line-height: 22px;
        }

        .title {
          font-family: $font-body;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    .view-play-history {
      border-bottom: none;
      color: #ffffff;
      font-family: $font-body;
      font-size: 12.64px;
      font-weight: bold;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: span 1;
      letter-spacing: 1.6px;
      line-height: 20px;
      margin-left: 20px;
      margin-top: 8px;
      text-align: left;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }
}
