$water-blue: #1277c4;
$denim-blue: #00518E;
/**
 * Common Breakpoints
 */
 $xsmall: 360px;
 $small: 550px;
 $medium: 768px;
 $large: 850px;
 $xlarge: 1024px;
 $xxlarge: 1200px;
 $xxxlarge: 1500px;

$font-heading: "Playfair Display";
$font-body: "OpenSans-Regular", sans-serif;
$font-body-bold: "OpenSans-Bold", sans-serif;

.stream-banner-card {
  border-top: none;
}
.stream-banner-card::before {
  background-color: transparent;
}

.main-player {
  display: flex;
  flex-direction: column;
  min-height: 344px;

  @media (min-width: $medium) {
  // @include media(">=medium") {
    display: grid;
    grid-template-columns: minmax(min-content, max-content);
    grid-auto-rows: 24px 104px 48px;
    align-content: center;
    margin-bottom: 20px;
    padding-left: 20px;

    .on-air-image {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: span 3;
      margin: auto 20px auto 0px;
    }

    .on-air-label {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: span 1;
    }

    .on-air-title {
      align-self: top;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: span 1;
    }

    .listen-live-button {
      align-self: end;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: span 1;
    }
  }

  .on-air-image {
    height: 168px;
    width: 168px;
    border-radius: 84px;
    background-color: gray;
  }

  .on-air-label {
    background-color: #ffffff;
    border-radius: 4px;
    color: #0064b4;
    font-family: $font-body;
    font-size: 12px;
    font-weight: 700;
    height: 16px;
    letter-spacing: 1.2px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    width: 108px;
  }

  .on-air-title {
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
  }

  .listen-live-button {
    background-color: #ffffff;
    color: $water-blue;
    font-family: $font-body;
    font-weight: bold;
    height: 48px;
    text-transform: uppercase;
    width: 234px;

    &.listen-button {
      border: none;

      &:hover {
        background-color: #ffffff;
        color: $water-blue;
      }

      &:focus {
        background-color: gray;
      }

      &.blue-boss {
        @include blue-listen-spinner;
        @include blue-svg;
      }
    }
  }
}
