//COLORS
$c-gray--dark: #333333;
$c-denim-blue: #00518e;

//FONTS 
$font-heading: "Playfair Display";
$font-body: "OpenSans-Regular", sans-serif; 
$font-body-bold: "OpenSans-Bold", sans-serif;

$font-cool-heading: 'Monoton', cursive;
$font-pixel-heading: 'Press Start 2P', monospace;
$font-pixel-body: 'OpenSans', monospace;

.onboarding-message-container {
  display: flex;
  background: $c-gray--dark;
  //background-image: url("../../public/assets/img/backgrounds/background-desktop.png");
  // @include responsive-background-image('/assets/img/backgrounds/background-desktop.png', '/assets/img/backgrounds/background-desktop.png');
  background: blue url(public/assets/img/backgrounds/background-desktop.png) no-repeat scroll left top;
  background-size: 100% 700px;
  padding: 10px 30px;
}

.music-note { 
  height: 100%;
}

.onboarding-message-text-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

div, p { 
  color: white;
}

h3 { 
  margin-bottom: .5rem;
}

.onboarding-close {
  position: sticky;
  left: 10000px;

  svg {
    display: inline;
    height: 17px;
    width: 17px;
    path {
      fill: white;
    }
  }

  &:hover {
    opacity: 80%;
  }
}

a.onboarding-link {
  height: 30px;
  width: 30px;
  position: sticky;
  left: 100px;
}

.onboarding-button {
  font-family: $font-body;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $c-denim-blue;
  border-color: white;
  border-radius: 35px;
  padding-top: 10px;
  height: 30px;
  width: 250px;
  line-height: 1; 
  background: white;
  text-align: center;
}

.second-half {
  display: flex;
  flex-direction: row;
}

.onboarding-body { 
  padding-right: 10px;
  width: 100%;
}

//MOBILE 
@include mq($mobile) {

  h3 { 
    margin-bottom: 0;
  }

  .onboarding-message-container {
    padding: 10px 30px 20px;
  }

  .onboarding-message-text-container {
    text-align: center;
  }

  .second-half {
    display: flex;
    flex-direction: column;
  }

  .onboarding-button {
    width: 100%;
  }
}