.onboarding-message-container {
  background: $c-gray--dark;
}

div, p { 
  color: white;
}

.onboarding-close {
  margin-left: auto;
  margin-right: 8px;
  margin-top: 8px;

  svg {
    display: inline;
    height: 17px;
    width: 17px;
    path {
      fill: white;
    }
  }

  &:hover {
    opacity: 80%;
  }
}