.channel-header .header-no-logo {
  padding-bottom: 0;
}

/* shows A-Z page */
.shows-list {

  @include mq($small-only) {
    padding: 0;
  }

   ul li {

    .flag-image>img {
      min-width: 90px;
      min-height: 90px;
    }

    .flag-image {
      @include mq($small-only) {
        padding-right: 1.5625rem;
        img {
          display: none;
        }
      }
    }

    .text-body--nopad > p {
      margin: 0;
    }
  }
}

.featured-show {
  @include mq($small-only) {
    display: none;
  }
}
