.graphic-feature {
  max-width: ($middle-middle+px);
  margin: 0 auto;
}

.graphic-default {
  > div {
    margin: 0;
  }
}

.share-tools {
  margin: 7px 0 34px;
  .sharelinks .fa-hover a {
    line-height: 33px;
  }
}

ul.sharelinks {
  margin: 0px;
  padding: 0px 0px 0px 2px;

}

.sharelinks li {
  float: left;
  padding: 0px 5px 0px 0px;
  font-size: 11px;
  line-height: 11px;
  /* border-right: 1px solid #999; */
  border: 0;
  margin-top: 5px;
}

.sharelinks li.edit-item {
  background: transparent url('/media/img/icons/edit.gif') no-repeat 13px 0px;
  padding-left: 26px;
  padding-right: 0px;
  float: right;
  border: 0;
}

.mobile--page .gtm__click-tracking > * {
  pointer-events: none;
}


.center {
  text-align: center;
}

.flatpage .django-content {

    /* //////// Shared styles //////// */



    .support {
      font-weight: 300;
      font-size: 1.2em;
      line-height: 1.7em;
      color: #000;
      padding: 0;
      margin: 0;
    }

    .article-description h3 {
      padding: 0;
    }


    a, a:hover {
      color: #0973b8;
      text-decoration: none;
    }

    .support ul {
      list-style: inherit;
    }

    .btn { /*should be replaced by whatever style we're using on the site */
      background-color: #0973b8; /*#0dbcee;*/
      border: none;
      color: white;
      font-weight: 400;
      padding: 5px 10px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s;
    }

    .btn:hover {
      background: #0058aa;
      color: white;
      text-decoration: none;
    }

    .largeBtn{
      padding: 15px 20px;
      font-size: 1.1em;
      float: left;
    }

    a.btn.largeBtn:focus {
      color: white;
      text-decoration: none;
    }

    .biggestText {
      font-size: 2.8em;
      font-weight: 400;
      line-height: 1.2em;
      padding-bottom: 8px;
    }

    .bigText {
      font-size: 1.4em;
      font-weight: 400;
      line-height: 1.4em;
    }

    .medText{
      font-size: 1.1em;
      line-height: 1.5em;
      font-weight: 300;
    }

    .smallText {
      font-size: .7em;
    }

    /* //////// Producers page styles //////// */

    .producersHeader, .producersMain, .presidentsCircle, .presidentsCircle .icon {
      text-align: center;
    }

    .producersHeader {
      margin-top: 87px;
    }

    .producersMain {
      margin: 83px auto 0 auto;
      max-width: 850px;
    }

    .producersLevel {
      margin-bottom: 80px;
      text-align: left;
    }

    .producersLevel:first-child {
      margin-top: 50px;
    }

    .producersLevelHeader {
      padding-bottom: 18px;
      line-height: 1.1em;
    }

    .producersLevel .icon {
      text-align: right;
      margin-top: -7px;
      margin-right: 7px;
      padding: 0;
      max-width: 100px;
    }

    .producersLevel ul{
      padding: 0 0 0 30px;
      margin: 0;
    }

    .presidentsLevelHeader {
      padding-bottom: 18px;
      margin: 0;
      line-height: 1.1em;
    }

    .presidentsCircle {
      margin: 17px auto 50px auto;
      max-width: 850px;
    }

    .presidentsCircle ul {
      padding: 10px 0;
      margin: 0;
      list-style: none;
    }

    .presidentsCircle .icon {
      padding: 0;
      margin-bottom: 15px;
      max-width: 100%;
    }

    .patronBtn, .benefactorBtn, .broadcasterBtn, .directorBtn {
      margin-top: 25px;
    }

    .patronBtn {
      background-color: #6bf793;
    }

    .benefactorBtn {
      background-color: #c8dd36;
    }

    .broadcasterBtn {
      background-color: #daacec;
    }

    .directorBtn {
      background-color: #5bdcf3;
    }

    .mainBtn {
      background-color: #DE1E3D;
      color: white;
      margin-top: 16px;
      display: inline-block;
    }

    .mainBtn:hover {
      color: white;
      text-decoration: none;
      background: #333;
    }

    .description {
      max-width: 850px;
      margin: 0 auto;
    }

    /* Alert stuff */
    .alert {
      padding: 15px;
      margin-bottom: 50px;
      border: 1px solid transparent;
      border-radius: 4px;
    }
    .alert h4 {
      margin-top: 0;
      color: inherit;
    }
    .alert .alert-link {
      font-weight: bold;
    }
    .alert > p,
    .alert > ul {
      margin-bottom: 0;
    }
    .alert > p + p {
      margin-top: 5px;
    }
    .alert-dismissable,
    .alert-dismissible {
      padding-right: 35px;
    }
    .alert-dismissable .close,
    .alert-dismissible .close {
      position: relative;
      top: -2px;
      right: -21px;
      color: inherit;
    }
    .alert-success {
      color: #3c763d;
      background-color: #dff0d8;
      border-color: #d6e9c6;
    }
    .alert-success hr {
      border-top-color: #c9e2b3;
    }
    .alert-success .alert-link {
      color: #2b542c;
    }
    .alert-info {
      color: #31708f;
      background-color: #d9edf7;
      border-color: #bce8f1;
    }
    .alert-info hr {
      border-top-color: #a6e1ec;
    }
    .alert-info .alert-link {
      color: #245269;
    }


    /* //////// Support page styles //////// */

    .makeADonation {
      max-width: 890px;
      margin: 0px auto;
      padding-top: 100px;
      color: #fff;
    }

    .watchVideo, .watchVideo a {
      text-align: right;
      padding: 0;
      margin: 0;
      color: #fff;
      line-height: 1.5em;
    }

    .watchVideo .icon{
      margin: 3px 0 0 -15px;
    }

    .iconAndBlurb { /*when there's text to the right of an icon*/
      text-align: left;
      padding: 0;
      margin: 0;
    }

    .subTitle {
      font-size: 1.4em;
      font-weight: 300;
      line-height: 1.3em;
    }

    .supportHeader {
      background-image:url('http://www.wnyc.org/i/1500/441/l/80/1/coverBackground_1.jpg');
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      height: 353px;
      margin-top: 20px;
      padding: 0 20px;
    }

    .supportHeader .blurb{
      margin-bottom: 37px;
    }

    .iconAndBlurb img{
      margin: 0 auto;
      max-width: 68px;
    }

    .iconAndBlurb .blurb {
      padding-left: 28px;
      max-width:350px;
      margin: 0 auto 70px auto;
    }

    .supportTwoGrid {
      color: #000;
      margin: 50px auto 0 auto;
      max-width: 960px;
      font-size: 0.9em;
      line-height: 1.5em;
    }

    .faqs {
      margin: 26px auto 40px auto;
      max-width: 950px;
    }

    .faqs .title {
      color: #000;
    }

    .faqs ul {
      padding: 10px 0;
      margin: 0;
      list-style: none;
    }

}
