.playlist-daily .site-container .grid_4.sidebar {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media only screen and (min-width: 1160px) {
  .playlist-daily .site-container .grid_4.sidebar {
    display: inline;
    width: 300px;
  }
  .playlist-daily .site-container .grid_4.sidebar.sidebar_main {
    position: sticky;
    top: 0;
  }
}
