<div class="onboarding-message-container">
  <a href="#" class="onboarding-close">{{svg-jar "close"}}</a>
  <div class="onboarding-title" data-test-element="title"> You're invited... </div>
  <p class="onboarding-body">...to our new, experimental WQXR.org! We want to hear what you think.</p>
  <button class="onboarding-button">Visit the New WQXR.org</button>
</div>
{{yield}}