<p><strong>
We are being affected by a widespread outage caused by AWS who powers parts of our sites as well as many others on the internet.  We hope to have our service restored soon.  In the interim, please tune your radio to 105.9 FM or ask your smart speaker to "Play WQXR".  Thank you for your patience.
</strong></p>
