<div class="l-container l-container--touch-full">
  <div class="newsletter-signup__inner">
    <img src="https://media.demo.nypr.digital/i/raw/2021/04/Beethoven_Final.png"
         srcset="https://media.demo.nypr.digital/i/raw/2021/04/Beethoven_Final.png 2x,
                 https://media.demo.nypr.digital/i/raw/2021/04/Beethoven_Final.png 3x"
         title="Visual of the WQXR Newsletter"
         width="348"
         height="326" />
    <div class="newsletter-signup__copy">
      <h1 class="h2 nudge-mini">Sign up for the WQXR newsletter</h1>
      <div class="nudge-down">
        It's smart. It's fresh. Get inspired and ignite your love of classical music today.
      </div>
      <div>
        <div data-pym-src="https://apps.nypr.org/newsletter-signup/?partnerOrg=None&brand=wqxr-gray&headline=%20&mailchimpId=aa1c2a6097&mailchimpName=Newsletter%3A%20This%20Week%20In%20WQXR">Loading...</div>
        <script type="text/javascript" src="https://pym.nprapps.org/pym.v1.min.js"></script>
      </div>
    </div>
  </div>
 </div>
